body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
     
}
h2{
    font-size: 40px;
    padding-top: 100px;
}

.parag{
    font-size: 17px;
    padding-right: 100px;
    text-align: justify;
}

h3{
    font-size: 25px;
    color: #202421;
}


.flexible-part{
    display: flex;
    margin-bottom: 150px;
}
.header img{
    
    padding-top: 30px;
    padding-right: 40px;
    
}
.header{
    padding-left: 90px;
}
.text-color{
    color: brown;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,brown);
    color: whitesmoke;
    padding: 10px 30px;
    font-weight: 400;
    border-radius: 20px;
    font-size: 20px;
}
#middle{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
}