body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
    
     
}
h2{
    font-size: 40px;
    padding-top: 100px;
}
h4{
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
    color:rgb(151, 111, 114)
}

.paragraph{
    font-size: 15px;
    padding-right: 100px;
    text-align: justify;
}

h3{
    font-size: 25px;
    color: #202421;
}


.flexible-part{
    display: flex;
    margin-bottom: 150px;
}
.header img{
    
    padding-top: 30px;
    padding-right: 40px;
    
}
.header{
    padding-left: 90px;
}
.text-color{
    color: brown;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,brown);
    color: whitesmoke;
    padding: 10px 30px;
    font-weight: 400;
    border-radius: 20px;
    font-size: 20px;
}
#middle{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
}
.recipe-tittle{

    text-align: center;
}
.middle-para{
    padding-left: 300px;
    padding-right: 300px;
    font-size: 14px;
    text-align: inherit;
}
.recipie{
   width: 30%;
  padding-left: 10px;
  padding-right: 10px;
   border-radius: 20px;
   box-shadow: 5px 5px 30px gray;
   margin-left: 40px;
   margin-right: 40px;
   
    
}
.recipie img{
    width: 95%;
    display: block;
   padding-top: 20px;
   padding-left: 8px;
   padding-right: 7px;
   padding-bottom: 10px;
  }

  .extra-part{
    text-align: center;
    background-color: honeydew;
}
.extra-part h3{
    background-color: rgb(15, 14, 15);
    color:white;
}

footer {
   background-color: #06031c;
   text-align: center;
   color: whitesmoke;
  padding: 5px  ;
  

}
.footer-text{
    margin-top: -90px;
    color: rgb(73, 61, 61);
    
}
.footer-text-another{
    margin-top: -20px;
}

/*orderfood*/
    
.image-size{
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

